<%- include('../partials/header') %>  


<div class="container">
    <div class="text-center">
         <h1 style="outline-style: solid" class="font-weight-bold py-3 mb-5 border border-primary "> EARLYAPPOINTMENT</h1>
            <a class="btn btn-primary btn-lg btn-block rounded mb-3" href="/new" >Get your appointment</a>
            <a class="btn btn-primary btn-lg btn-block " href="/track" >track your appointment</a>
     </div>
 </div>   

 <%- include('../partials/footer') %>