<%- include('./partials/header') %>  


 <style type="text/css">  
   .col-12{
            font-weight:800;
          }
          .col-12{
          	
          }
</style>
<a class="btn p-3" href="/createdoctor">createdoctor</a>

<div class="row">
<div class="col-9 ml-5 mt-2 mb-1 bg-light">
       <div class="col-3 ml-5 mt-2 mb-1 bg-light">Mobile Numnber</div>
       <div class="col-3 ml-5 mt-2 mb-1 bg-light">Status</div>
  </div>
</div>


 <%- include('./partials/footer') %>

