<%- include('./partials/header') %>  


<div class="container">
    <div class="text-center" style="margin-top:100px;">
         
            <a class="btn btn-primary btn-lg btn-block rounded mb-3" href="/new" >Get your appointment</a>
            <a class="btn btn-primary btn-lg btn-block " href="/track" >track your appointment</a>
     </div>
 </div>   

 <%- include('./partials/footer') %>