<%- include('./partials/header') %>  


<div class="container">
    <div class="text-center" style="margin-top:100px;">
         
            <a class="btn btn-primary btn-lg btn-block rounded mb-3" href="/new" >Book your appointment</a>
            <a class="btn btn-primary btn-lg btn-block " href="/track" >Check your appointment</a>
     </div>
 </div>   
 
 <p class="text-center mt-1 footer"><strong>email-yadavanujaditya@gmail.com</strong></p>
 <%- include('./partials/footer') %>