<%- include('./partials/header') %> 

<h1>Register  form</h1>


<form action="/register" method="POST">

   <div class=form-group>
       <input type="text"      name="username"  placeholder="username">
  <input type="password"  name="password"  placeholder="password">
  <button> Submit! </button>

   </div>
  



</form>

<%- include('./partials/footer') %> 